@import "tailwindcss";

:root {
  --page-background: oklch(1 0 0);
  --page-foreground: oklch(0.145 0 0);
  --page-border: oklch(0.922 0 0);
}

@layer base {
  * {
    border-color: var(--page-border);
    font-family: "Funnel Sans", sans-serif;
  }

  body {
    background: var(--page-background);
    color: var(--page-foreground);
  }
}
