---
import { PhHouseSimple } from "phosphor-icons-astro";
const currentPath = Astro.url.pathname;
---

<header class="rounded-md border border-neutral-900 bg-black px-6 py-4">
  <nav class="flex items-center justify-start space-x-3 py-2">
    <div
      class="scrollbar-hide flex min-w-0 flex-1 items-center space-x-3 overflow-x-auto"
    >
      <button
        onclick="window.location.href='/'"
        class={`flex flex-shrink-0 items-center gap-2 rounded-sm border border-neutral-900 px-6 py-2 text-sm cursor-pointer transition-all duration-200 active:scale-90 ${
          currentPath === "/"
            ? "border-neutral-700 text-neutral-200"
            : "text-neutral-400 hover:text-neutral-200"
        }`}
      >
        <PhHouseSimple size={16} weight="fill" />
        <span>Home</span>
      </button>
    </div>
  </nav>
</header>

<style>
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
</style>
