---
import { Image } from "astro:assets";
import profileImage from "@/assets/luca-giordano.jpg";
---

<div
  class="group relative cursor-default overflow-hidden rounded-sm border border-neutral-900 bg-black transition-colors duration-200 md:col-span-2 lg:col-span-2"
>
  <span
    class="absolute top-0 left-0 h-6 w-6 origin-top-left scale-0 transform rounded-tl-sm border-2 border-neutral-300 border-r-transparent border-b-transparent transition-transform duration-200 group-hover:scale-100"
  ></span>
  <span
    class="absolute top-0 right-0 h-6 w-6 origin-top-right scale-0 transform rounded-tr-sm border-2 border-neutral-300 border-b-transparent border-l-transparent transition-transform duration-200 group-hover:scale-100"
  ></span>
  <span
    class="absolute bottom-0 left-0 h-6 w-6 origin-bottom-left scale-0 transform rounded-bl-sm border-2 border-neutral-300 border-t-transparent border-r-transparent transition-transform duration-200 group-hover:scale-100"
  ></span>
  <span
    class="absolute right-0 bottom-0 h-6 w-6 origin-bottom-right scale-0 transform rounded-br-sm border-2 border-neutral-300 border-t-transparent border-l-transparent transition-transform duration-200 group-hover:scale-100"
  ></span>
  <div class="p-8">
    <div class="space-y-4">
      <div class="flex items-start justify-between">
        <div class="space-y-4">
          <Image
            src={profileImage}
            alt="Profile"
            width={192}
            height={192}
            class="h-20 w-20 rounded-md border border-neutral-800 transition-colors duration-200 hover:border-neutral-700"
            loading="eager"
            quality={100}
            densities={[1, 2]}
          />
          <h1 class="text-4xl font-semibold text-neutral-200">
            arman <span class="text-sm text-neutral-500">(uhrr-maan curr)</span>
          </h1>
        </div>
      </div>
      <div class="space-y-8">
        <p class="text-lg leading-relaxed text-neutral-200">
          I'm a software developer specializing in detailed UI design to deliver
          fast, smooth, and engaging experiences.
        </p>
      </div>
    </div>
  </div>
</div>
