---
import Main from "../layouts/main.astro";
import Navigation from "../components/layout/navigation.astro";
import ProjectCard from "../components/project/project-card.astro";
---

<Main
  title="Projects - Arman Kar"
  description="Explore Arman Kar's projects showcasing skills and technologies"
>
  <Navigation slot="header" />
  <main>
    <ProjectCard />
  </main>
</Main>
